@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Noto+Sans:ital,wght@1,300&family=Pacifico&family=Poltawski+Nowy:wght@500&family=Quicksand&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans:wght@200 & family= Noto+Sans:ital,wght@1,300 & family= Pacifico & family= Poltawski+ Nowy:wght@500 & family= Areia movediça & família= Raleway:ital@1 &family= Roboto:wght@700 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Noto+Sans:ital,wght@1,300&family=Pacifico&family=Poltawski+Nowy:wght@500&family=Quicksand&family=Raleway:ital,wght@0,500;1,400&family=Roboto:wght@700&display=swap');


*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    
}

.cabecalio{
    display: flex;
    justify-content: right;
    margin: 0;
    padding-right: 6rem;
    background-color: white
}
.cabecalio_link{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 1.7rem;
    text-decoration: none;
    color: black;
}
.cabecalio_titulo{
    padding: 1rem 35rem 1rem 4rem;  
    font-family: 'Pacifico', cursive;
    font-size: 2rem ; 
    
}

/*fim do header*/

.corpo{
    background-color: rgb(110, 110, 253);
}


.titulo{
    margin: 2rem 5rem 1rem 10rem;
    font-family: 'Pacifico', cursive;

} 

.img-gourmet{
    display: flex;
    margin:2rem 10rem 10rem 10rem;

    
}
.img-img-gourmet{
    border: solid white;
    border-radius: 0.5rem;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
}
.cabecalio_link:hover{
    color: rgb(177, 138, 144);
}    

/*fim do main*/

.rodape{
    background-color: black;
}

.rodape_link{
    text-align: left;
    padding: 0.3rem;
    text-decoration: none;
       
}
.links{
    
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
    text-decoration: none;
    color: white;
    
       
}